<div class="panel panel-default">

    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <table>
            <tbody>
            <tr>
                <td><img ng-src="{{thePlayer.image}}" class="img-circle img-circle-large" ng-click="goTo(undefined) "></td>
                <td>
                    <table class="table">
                        <tbody>
                        <tr><td>Nombre</td><td>{{thePlayer.firstName}}</td></tr>
                        <tr><td>PJ</td><td>{{thePlayer.matchesPlayed}}</td></tr>
                        <tr><td>PJ (local)</td><td>{{thePlayer.matchesAsHome}}</td></tr>
                        <tr><td>PJ (visitante)</td><td>{{thePlayer.matchesAsAway}}</td></tr>
                        <tr><td>PG</td><td>{{thePlayer.matchesWon}}</td></tr>
                        <tr><td>PE</td><td>{{thePlayer.matchesTied}}</td></tr>
                        <tr><td>PP</td><td>{{thePlayer.matchesLost}}</td></tr>
                        <tr><td>GF</td><td>{{thePlayer.goalsScored}}</td></tr>
                        <tr><td>GC</td><td>{{thePlayer.goalsReceived}}</td></tr>
                        <tr><td>DG</td><td>{{thePlayer.goalsScored - thePlayer.goalsReceived}}</td></tr>
                        <tr><td>Amarillas</td><td>N/A</td></tr>
                        <tr><td>Rojas</td><td>N/A</td></tr>
                        </tbody>

                    </table>
                </td>
            </tr>
            
            </tbody>
            
            
        </table>
        
    </div>
    
</div>