<div class="panel panel-default">

    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <table>
            <tbody>
            <tr>
                <td><img ng-src="{{thePlayer.image}}" class="img-circle img-circle-large" ng-click="goTo(undefined) "></td>
                <td>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Nombre</td>
                            <td>{{thePlayer.firstName}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{thePlayer.email}}</td>
                        </tr>
                        <tr>
                            <td>PJ</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>PG</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>PP</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Goles</td>
                            <td></td>
                        </tr>
                        </tbody>

                    </table>
                </td>
            </tr>
            
            </tbody>
            
            
        </table>
        
    </div>
    
</div>