<h1 class="page-header"> {{thePlayer.alias}} </h1>
<div class="panel panel-default">

    <div class="panel-heading">
        <h3>Estadísticas</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table>
                <tbody>
                <tr>
                    <td><img ng-src="{{thePlayer.image}}" class="img-circle img-circle-large" ng-click="goTo(undefined) "></td>
                    <td>
                        <table class="table">
                            <tbody>
                            <tr><td>Partidos jugados</td><td>{{stats.matches.played}}</td></tr>
                            <tr><td>Partidos ganados</td><td class="rankPositive">{{stats.matches.won}}</td></tr>
                            <tr><td>Partidos empatados</td><td>{{stats.matches.tied}}</td></tr>
                            <tr><td>Partidos perdidos</td><td class="rankNegative">{{stats.matches.lost}}</td></tr>
                            <tr><td>Goles a favor</td><td class="rankPositive">{{stats.goals.scored}}</td></tr>
                            <tr><td>Goles en contra</td><td class="rankNegative">{{stats.goals.received}}</td></tr>
                            <tr><td>Goles por partido</td><td>{{stats.goals.scored / stats.matches.played | number:2}}</td></tr>
                            <tr><td>Goles por partido (recibidos)</td><td>{{stats.goals.received / stats.matches.played | number:2}}</td></tr>
                            <tr><td>Diferencia de gol</td>
                                <!--//FIXME: why diff is zero?-->
                                <td ng-init="diff = stats.goals.scored - stats.goals.received;" ng-class="diff >0 ? 'rankPositive' : diff < 0 ? 'rankNegative' : ''">
                                    {{stats.goals.scored - stats.goals.received}}
                                </td></tr>
                            <tr><td>Amarillas (Partidos)</td><td>{{stats.cards.yellow.count}} ( {{stats.cards.yellow.matches}} )</td></tr>
                            <tr><td>Rojas (Partidos)</td><td>{{stats.cards.red.count}} ( {{stats.cards.red.matches}} )</td></tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    <div class="panel-heading">
        <h3>Historial ranking</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                <tr ng-repeat="entry in history | orderBy:'-'">
                    <td> <!--Dia-->
                        {{entry.date | date:'dd-MM-yyyy'}}
                    </td>
                    <td>{{entry.ranking}}</td>
                    <td ng-class="entry.delta >0 ? 'rankPositive' : entry.delta < 0 ? 'rankNegative' : ''">
                        {{entry.delta | number:2}}

                        <i ng-if="entry.delta > 0" class="fa fa-arrow-circle-up"></i>
                        <i ng-if="entry.delta < 0" class="fa fa-arrow-circle-down"></i>
                    </td>

                    <td ng-class="match.home.clazz" ng-click="goTo(entry.match.home.player)"> <!--Jugador-->
                        <img class="img-circle" ng-src="{{getPicture(entry.match.home.player)}}">
                        <span>{{entry.match.home.player}}</span>
                    </td>
                    <td ng-class="match.home.clazz" ng-click="goTo(entry.match.home.partner)"> <!--Pareja-->
                        <img class="img-circle" ng-src="{{getPicture(entry.match.home.partner)}}">
                        <span>{{entry.match.home.partner}}</span>
                    </td>
                    <td ng-class="match.home.clazz"> <!--Equipo-->
                        <div class="team {{entry.match.home.team}}"></div>
                    </td>
                    <td ng-class="match.home.clazz" class="matchGoals"> <!--Local-->
                        {{entry.match.home.goals}}
                        <span ng-if="match.home.penalties">({{entry.match.home.penalties}})</span>
                    </td>
                    <td class="matchGoals">vs</td> <!--vs-->
                    <td ng-class="match.away.clazz" class="matchGoals"> <!--Visitante-->
                        {{entry.match.away.goals}}
                        <span ng-if="match.away.penalties">({{entry.match.away.penalties}})</span>
                    </td>
                    <td ng-class="match.away.clazz"> <!--Equipo-->
                        <div class="team {{entry.match.away.team}}"></div>
                    </td>
                    <td ng-class="match.away.clazz" ng-click="goTo(entry.match.away.player)"> <!--Jugador-->
                        <img class="img-circle" ng-src="{{getPicture(entry.match.away.player)}}">
                        <span>{{entry.match.away.player}}</span>
                    </td>
                    <td ng-class="match.away.clazz" ng-click="goTo(entry.match.away.partner)">    <!--Pareja-->
                        <img class="img-circle" ng-src="{{getPicture(entry.match.away.partner)}}">
                        <span>{{entry.match.away.partner}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>
