<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title" style="font-size: 30px">Ranking</h3>
    </div>
    <div class="panel-body">
        <div id="ranking">
            <table class="center-block table table-hover table-striped text-center middleData">
                <thead>
                <tr>
                    <th class="text-center">Jugador</th>
                    <th></th>
                    <th class="text-center">Ranking</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="player in players" ng-click="goTo(player)" style="cursor: pointer">
                    <td>
                        <img ng-src="{{player.image}}" class="img-circle">
                    </td>
                    <td>
                        <span>{{player.alias}}</span>
                    </td>
                    <td>{{player.ranking}}</td>
                </tr>
                </tbody>

            </table>
        </div>

    </div>
</div>