<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title" style="font-size: 30px">Reglamento</h3>
    </div>
    <div class="panel-body">
        
        <h2>Copa America 1</h2>

        <h3>Registro de partidos</h3>
        <ul>
            <li>Mencionar en hipchat incluyendo a todos los integrantes del partido, y como estan conformados los equipos</li>
            <li>Mencionar tambien a <b>NicoR o Eze</b></li>
            <li>Mencionar el resultado, <b>e idealmente, tarjetas amarillas y rojas (para futuras estadisticas)</b></li>
        </ul>
        
        <h3>Modalidad</h3>
        <ul>
            <li>4 jugadores en cada grupo (A, B, C, D), clasifican los dos primeros de cada zona, luego eliminacion directa</li>
            <li>Cada jugador tiene un pais fijo previamente sorteado de modo random</li>
            <li>Cada partido debe elegirse un compa単ero</li>
            <li>No se puede repetir compa単ero dentro de una misma fase</li>
                
        </ul>
        
        <h4>Eleccion de compa単ero</h4>
        <ul>
            <li>Alguien que no este en su mismo grupo en fase de grupos</li>
            <li>Alguien que no este en su misma llave en eliminacion directa (implica que si se puede dar un partido a futuro con esa persona no es aceptable, asi que siempre es con gente que ya quedo afuera del torneo)</li>
            <li>La prioridad para la eleccion la tiene el visitante</li>
        </ul>
        
        <h3>Partidos</h3>
        <ul>
            <li>6 Minutos</li>
            <li>Modo normal</li>
            <li>Dia despejado (sin lluvia, nieve, etc) en horario nocturno (para evitar las sombras de las lamparas)</li>
            <li>sin extension de tiempo en fase de grupos</li>
            <li>3 Cambios de jugadores por partido</li>
            <li>el equipo de la izquierda es el local, el de la derecha es el visitante.</li>
        </ul>

        <h3>Empates en zona de grupos</h3>
        <ul>
            <li>En caso de empate en puntos se define por diferencia de gol.</li>
            <li>En caso de empate en diferencia de goles por goles a favor.</li>
            <li>En caso de empate en goles a favor, se define por partido entre si</li>
            <li>Si persiste el empate, se tira la moneda</li>
        </ul>
        
        <h3>Empates en eliminacion directa</h3>
        <ul>
            <li>Extension de tiempo (no golden o silver goal), si persiste el empate, penales</li>
        </ul>
        
        <h3>Inclusion invalida del compa単ero</h3>
        <ul>
            <li>Se dara el partido por perdido 3-0</li>
            <li>En caso de que ambos participantes esten en falta, el partido queda invalidado</li>
        </ul>

    </div>
</div>