.filterLabel {
	margin-right:5px;
}

.nav-justified > .active > a {
	background-color:#ddd;
}

.points {
	background-color:#D9D9F1;	
}
.won {
	color:green;
}
.lost {
	color:red;
}
.tie {
	color:black;
}

.img-circle {
	cursor:pointer;
	height:48px;
	width:48px;
	vertical-align:middle!important;
}

ul {
	margin-top:10px;
}

.middleData td {
	vertical-align:middle!important;
}

.player {
    background-image: url(../images/players.png);
    background-repeat: no-repeat;
}

.Ariel {
    width: 48px;
    height: 48px;
    background-position: -5px -5px;
}

.Charly {
    width: 48px;
    height: 48px;
    background-position: -63px -5px;
}

.Cristian {
    width: 48px;
    height: 48px;
    background-position: -121px -5px;
}

.DaniG {
    width: 48px;
    height: 48px;
    background-position: -179px -5px;
}

.Ezequiel {
    width: 48px;
    height: 48px;
    background-position: -5px -63px;
}

.FerO {
    width: 48px;
    height: 48px;
    background-position: -63px -63px;
}

.FerP {
    width: 48px;
    height: 48px;
    background-position: -121px -63px;
}

.Gaby {
    width: 48px;
    height: 48px;
    background-position: -179px -63px;
}

.Gamba {
    width: 48px;
    height: 48px;
    background-position: -5px -121px;
}

.Hernan {
    width: 48px;
    height: 48px;
    background-position: -63px -121px;
}

.Juan {
    width: 48px;
    height: 48px;
    background-position: -121px -121px;
}

.Leandro {
    width: 48px;
    height: 48px;
    background-position: -179px -121px;
}

.Leo {
    width: 48px;
    height: 48px;
    background-position: -5px -179px;
}

.Malcolm {
    width: 48px;
    height: 48px;
    background-position: -63px -179px;
}

.Martin {
    width: 48px;
    height: 48px;
    background-position: -121px -179px;
}

.Mauri {
    width: 48px;
    height: 48px;
    background-position: -179px -179px;
}

.Michu {
    width: 48px;
    height: 48px;
    background-position: -237px -5px;
}

.NicoL {
    width: 48px;
    height: 48px;
    background-position: -237px -63px;
}

.NicoR {
    width: 48px;
    height: 48px;
    background-position: -237px -121px;
}

.PabloC {
    width: 48px;
    height: 48px;
    background-position: -237px -179px;
}

.Santi {
    width: 48px;
    height: 48px;
    background-position: -5px -237px;
}

.Sebastian {
    width: 48px;
    height: 48px;
    background-position: -63px -237px;
}

.team {
	width:57px;
	height:50px;
	display:inline-block;
	vertical-align:middle!important;
}

.Argentina {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/arg.png);
}

.Alemania {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/ger.png);
}

.Brasil {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/bra.png);
}

.Espana {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/esp.png);
}

.Francia {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/fra.png);
}

.Holanda {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/ned.png);
}

.Inglaterra {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/eng.png);
}

.Italia {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/ita.png);
}

.Mexico {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/mex.png);
}

.Uruguay {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/uru.png);
}

.Colombia {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/col.png);
}

.CdMarfil {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/civ.png);
}

.EEUU {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/usa.png);
}

.Portugal {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/por.png);
}

.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
}
.btn-google span {
    margin-left: 0.5em;
}