.filterLabel {
	margin-right:5px;
}

.nav-justified > .active > a {
	background-color:#ddd;
}

.points {
	background-color:#D9D9F1;	
}
.won {
    background-color: #C9F2D7;
    color: green;
}
.lost {
    background-color: #F4BDBC;
    color: red;
}
.tie {
    background-color: #fffbc0;
}

.rankPositive {
    color: green;
}

.rankNegative {
    color: red;
}

.notPlayed {
    opacity: 0.2;
}

.matchGoals {
    font-weight: bold;

}
.img-circle {
	cursor:pointer;
	height:48px;
	width:48px;
	vertical-align:middle!important;
}

.img-circle-large {
    cursor:pointer;
    height:248px;
    width:248px;
    vertical-align:middle!important;
}

ul {
	margin-top:10px;
}

.middleData td {
	vertical-align:middle!important;
}
table tr th {
    vertical-align:middle!important;
    text-align: center;
}

.table input {
    width: 4em;
}

.team {
	width:57px;
	height:50px;
	display:inline-block;
	vertical-align:middle!important;
}

.Argentina {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/arg.png);
}

.Alemania {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/ger.png);
}

.Brasil {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/bra.png);
}

.Espana {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/esp.png);
}

.Francia {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/fra.png);
}

.Holanda {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/ned.png);
}

.Inglaterra {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/eng.png);
}

.Italia {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/ita.png);
}

.Mexico {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/mex.png);
}

.Uruguay {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/uru.png);
}

.Colombia {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/col.png);
}

.CdMarfil {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/civ.png);
}

.EEUU {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/usa.png);
}

.Portugal {
background-image:url(http://www.fifa.com/imgml/flags/reflected/m/por.png);
}

.Peru {
    background-image:url(http://www.fifa.com/imgml/flags/reflected/m/per.png);
}

.Ecuador {
    background-image:url(http://www.fifa.com/imgml/flags/reflected/m/ecu.png);
}

.Chile {
    background-image:url(http://www.fifa.com/imgml/flags/reflected/m/chi.png);
}

.Venezuela {
    background-image:url(http://www.fifa.com/imgml/flags/reflected/m/ven.png);
}

.Paraguay {
    background-image:url(http://www.fifa.com/imgml/flags/reflected/m/par.png);
}

.Bolivia {
    background-image:url(http://www.fifa.com/imgml/flags/reflected/m/bol.png);
}

.Gales {
    background-image:url(http://www.fifa.com/imgml/flags/reflected/m/wal.png);
}

.Australia {
    background-image:url(http://www.fifa.com/imgml/flags/reflected/m/aus.png);
}

.Korea {
    background-image:url(http://www.fifa.com/imgml/flags/reflected/m/kor.png);
}
